<html>
<head>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
      CLOLOG
    </a>
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">apache log</a></li>
      </ul>
    </div>
  </div>
</div>

<form class="well form-search" action="/search">
<span id="time" class="badge"><a href="#">time</a></span>
<span id="host" class="badge badge-success"><a href="#">host</a></span>
<span id="path" class="badge badge-warning"><a href="#">path</a></span>
<span id="code" class="badge badge-important"><a href="#">code</a></span>
<br>
  <input type="text" class="input-medium search-query" name="keyword" size="30">
  <input type="hidden" name="element" value="code">
  <button type="submit" class="btn">Search</button>
</form>

<table class="table table-striped">
<tr>
<th>Time</th>
<th>Host</th>
<th>Path</th>
<th>Code</th>
</tr>
<% for (var i = 0; i < logs.length; i++) { %>
<tr>
<td><%= logs[i].time %></td>
<td><%= logs[i].host %></td>
<td><%= logs[i].path %></td>
<td><%= logs[i].code %></td>
</tr>
<% } %>
</table>
</body>
</html>

