<html>
<head>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
      CLOLOG
    </a>
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">apache log</a></li>
      </ul>
    </div>
  </div>
</div>

<form class="well form-search" action="/search">
<span class="badge">time</span>
<span class="badge badge-success">source</span>
<span class="badge badge-warning">url</span>
<span class="badge badge-important">code</span>
<br>
  <input type="text" class="input-medium search-query" name="keyword" size="30">
  <input type="hidden" name="element" value="code">
  <button type="submit" class="btn">Search</button>
</form>

<table class="table table-striped">
<tr>
<th>Time</th>
<th>Source</th>
<th>URL</th>
<th>ResponseCode</th>
</tr>
<% for (var i = 0; i < logs.length; i++) { %>
<tr>
<td><%= logs[i].time %></td>
<td><%= logs[i].host %></td>
<td><%= logs[i].path %></td>
<td><%= logs[i].code %></td>
</tr>
<% } %>
</table>
</body>
</html>

