<html>
<head>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
      Log Collector
    </a>
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">apache log</a></li>
      </ul>
    </div>
  </div>
</div>
<table class="table table-striped">
<tr>
<th>Time</th>
<th>Source</th>
<th>URL</th>
<th>ResponseCode</th>
</tr>
<tr>
<td>"TEST"</td>
<td>"HOGE"</td>
<td>"HOGE"</td>
<td>"HOGE"</td>
</tr>
<tr>
<td>"TEST"</td>
<td>"HOGE"</td>
<td>"HOGE"</td>
<td>"HOGE"</td>
</tr>
</table>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
</body>
</html>

